h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
font-weight: bold;
}

.nome{
font-size: 16px;
font-family: 'Courier New', Courier, monospace;    
}